doctype html
include ../base.pug
html(lang="en")
  include ../head.pug
  body
    header
      include ../gdefs.pug
      span Subjects
      input(type="text", name="")
    .timeline
      audio.audio(src="audio/vector-space.m4a" controls)
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator
      main.content
        main.content2
          .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
          .chapter#chp01
            h1#sec1-proj-space-lin-var Projective Spaces and Linear Varieties
            h2#sec2-how-proj-sp-ar How Projective Spaces Arise
            .slide
            svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
              g(fill="none", stroke="black")
                path(d="m71.73 140.92-52.861 46.828")
                path(d="m61.001 187.75 29.381-46.828")
                path(d="m18.869 139.84 52.861-19.986v21.066l38.696-0.045-3.5173 46.873v1e-5h-88.039z")
                path(d="m71.73 130.39-52.861 33.407")
                path(d="m71.73 130.39h18.652v10.533" stroke-dasharray="1.46,1.46")
                path(d="m61.001 163.79 29.381-33.407")
                path(d="m18.869 163.79h42.132v23.954" stroke-dasharray="1.46,1.46")
                path(d="m53.072 133.3 42.333 26.458")
              text(x="37.577751" y="59.383480") s'
              text(x="56.170601" y="55.605290") p'
              text(x="10.055805" y="27.100490") p
              text(x="0.536083" y="38.216800")  s
              text(x="35.203621" y="44.749850") O
              circle(cx="53.072" cy="133.3" r=".81073")
              circle(cx="95.405" cy="159.76" r=".81073")
              circle(cx="75.496" cy="147.31" r=".81073")
            h2 Projective Spaces
            .slide
              +def#def-proj-space #[span.kw $\FF$-Projective space] $(\PP, E, \pi)$ over field $\FF$:
                ol
                  li#def-proj-space1 $\PP$ is a set of #[span.kw projective points] or #[span.kw elements]
                  li#def-proj-space2 $E=E_\FF$ is a vector space over $\FF$, $\dim E \ge 2$
                  li#def-proj-space3 $\pi: E \setminus \{0\} \rightarrow \PP$, its #[span.kw structural map], is onto and $\forall \vv,\ww \in E \setminus \{0\}$
                span#def-proj-space4 $$\vv=\lambda\ww,\lambda\neq 0\Rightarrow \pi(\vv)=\pi(\ww)$$
                span#def-proj-space5 If $p=\pi(\vv)=[\vv]_\PP=[\vv]$, then $p$ is #[span.kw represented by] its #[span.kw representative] $\vv$.
                span#def-proj-space6  $(E,\pi)$ is a #[span.kw projective structure] of $\PP$.

              figure.txtc#f-1d-proj-sp
                svg.txti(width="420" height="110")
                  //- E
                  - var w = 200;
                  - var h = 100;
                  - var s = 22;
                  rect(x="0" y="0" width=w height=h fill="none" stroke="black")
                  text(x="2" y="1em") E
                  text(x=w+s y="1em") ℙ
                  line(x1=w+s x2=2*w+s y1=h/2 y2=h/2 stroke="black")
                  foreignObject(x="100" y="50" width="100" height="100") $0$
                  foreignObject(x="120" y="40" width="100" height="100") $\vv$
                  foreignObject(x="140" y="30" width="100" height="100") $\lambda\vv$
                  foreignObject(x="0" y="65" width="100" height="100" transform="rotate(-22.5, 0,65)") $\span{\vv}$
                  circle(fill="black" r="3" cx="100" cy="50")
                  circle(fill="black" r="3" cx="120" cy="40")
                  circle(fill="black" r="3" cx="140" cy="30")
                  //- P
                  //- rect(x="220" y="0" width="200" height="100" fill="none" stroke="black")
                  line(x1="0" y1="100" x2="200" y2="0" stroke="black")
                  foreignObject(x="250" y="50" width="100" height="100") $p=[\vv]$
                  circle(fill="black" r="3" cx="270" cy="50")
                figcaption 1D Projective space $(\PP,E,\pi)$, where $p=[\lambda\vv], \forall \lambda \neq 0$.
              figure.txtc#f-2d-proj-sp
                svg.txti(width="473" height="150")
                  text(x="52" y="1em") E
                  text(x="272" y="2.5em") ℙ
                  path(d="m 50 0 h 200 v 100 h -200 z" stroke="black" fill="none")
                  path(d="m 0 50 h 200 v 100 h -200 z" stroke="black" fill="none")
                  line(x1="0" x2="50" y1="50" y2="0" stroke="black")
                  line(x1="200" x2="250" y1="50" y2="0" stroke="black")
                  line(x1="0" x2="50" y1="150" y2="100" stroke="black")
                  line(x1="200" x2="250" y1="150" y2="100" stroke="black")
                  circle(fill="black" r=3 cx="125" cy="75")

                  circle(fill="black" r="3" cx="145" cy="62.5")
                  circle(fill="black" r="3" cx="165" cy="50")
                  foreignObject(x="50" y="90" width="100" height="100" transform="rotate(-22.5, 50,90)") $\span{\vv}$
                  foreignObject(x=w/2+20 y=h/2+25 width="100" height="100") $0$
                  foreignObject(x=w/2+20+20 y=h/2-10+25 width="100" height="100") $\vv$
                  foreignObject(x=w/2+40+20 y=h/2-20+25 width="100" height="100") $\lambda\vv$
                  

                  line(x1="50" x2="200" y1="120" y2="30" stroke="black")
                  rect(x="270" y="25" width="200" height="100" stroke="black" fill="none")
                  foreignObject(x="300" y="50" width="100" height="100") $p=[\vv]$
                  circle(fill="black" r="3" cx="320" cy="50")
                figcaption 2D Projective space $(\PP,E,\pi)$
              +def#def-notation-subsets Notation for subsets
                ol 
                  li $S\subseteq E \setminus \{0\} \Rightarrow \pi(S)=\bigcup_{\ss \in S} \pi(\ss)$
                  li $S\subseteq E \Rightarrow [S]=\pi(S\setminus \{0\})$
                  li $[0]=\emptyset$
              +def#def-proj-space-v2 #[span.kw Projective space]: quotient space 
                span#def-proj-space-v2-1 $$\PP=(E \setminus \{0\})/\sim,$$
                span#def-proj-space-v2-2 where $\sim$ is the equivalence relation on $E \setminus \{0\}$:
                span#def-proj-space-v2-3 $$\vv \sim \ww \Leftrightarrow \exists \lambda \in \FF_*: \vv = \lambda \ww$$

              +def#def-proj-dim $\dim \PP = \dim E-1$
              +def $\dim \PP_n = n$
              +ex Let $\mathbb{A}_2$ be an affine plane over $\FF$, and fix $B=\{\ee_1, \ee_2\} \basis \mathbb{A}_2$ s.t. $(x,y)=[x \ee_1+y \ee_2]_B$. Let $\PP$ be the set of lines through the origin of $\mathbb{A}_2$. Take $\FF^2$ as a vector space and $\pi$ to map $(a,b)$ to the line with equation $ax+by=0$. Then $(\PP, \FF^2, \pi)$ is a one-dimensional projective space over $\FF$.
              +ex("ex-projectivization") Let $\dim E_\FF \lt \infty$. Take $\PP=\{S\le E: \dim S=1\}$ and $\pi(\vv)=\span{\vv}, \forall \vv\in E\setminus\{0\}$. Then $(\PP,E,\pi)$ is a projective space over $\FF$.
              +def $(\PP,E,\pi)$ described in #[a(href="#ex-projectivization") E 1.2] is called the #[span.kw projectivization] of $E$, denoted $\PP(E)$.
              +not $\PP(\FF^{n+1})$ guarantees the existence of a projective space over $\FF$ of dimension $n$, for each $n \gt 0$.
              +def #[span.kw Common subspaces] $S \le \PP$:
                table.txtc#tbl-prjgeo-common-subspaces
                  thead
                    th.br.bb Name
                    th.bb Proj. point
                    th.bb Proj. line
                    th.bb Proj. plane
                    th.bb Proj. volume
                  tbody
                    tr
                      th.br $\dim S$
                      td 0
                      td 1
                      td 2
                      td 3

                //- #tablex(columns: 5, auto-lines:false, inset:0.3em, stroke:.5pt, align:center,
                //- [_Name_],vlinex(),[*proj. point*],[*proj. line*],[*proj. plane*],[*proj. volume*],hlinex(),
                //- [$dim S$],[0],[1],[2],[3])

              +def $(E,\pi)$ is #[span.kw equivalent] to $(E',\pi')$ if there is a $\Phi:E \isom E' $ s.t. $\pi = \pi' \circ \Phi$.
            h2 Linear varietes
            .slide
              +def Let $F \le E$. Then, $L=\pi(F \setminus \{0\})=[F] \subset \PP_n$ is a #[span.kw linear variety] (or #[span.kw projective subspace]), #[span.kw defined by] $F$.
              +thm $L=[F] \Rightarrow F \setminus \{0\} = \pi^{-1}(L)$
              +def Let $L \lt \PP_n$ be a linear variety.
                ol
                  li #[span.kw Dimension] of $L$: $\dim L = F-1$
                  li #[span.kw Codimension] of $L$: $\codim L=n-\dim L$
              +ex
                ol
                  li $\dim (\emptyset=[\{0\}]) = -1$
                  li $\dim (\PP_n=[E])=n$
                  li $\dim (\{p\}=[\span{\vv}])=0$
              +cor $\dim L = 0 \Rightarrow L=\{p\}$ (we denote $p$ and $\{p\}$ as the same)
              +def $\mathcal{V}_d(\PP_n)$: set of all linear varieties of $\PP_n$ of dimension $d$.
              +def $\mathcal{V}(\PP_n)=\bigcup_d^n \mathcal{V}_d(\PP_n)$: set of all linear varieties of $\PP_n$.
              +cor The map  $[\cdot]:\mathcal{S}_{d+1}(E) \rightarrow \mathcal{V}_d(\PP_n)$, where $F \mapsto [F] $ is bijective.
              +def The structure #[span.kw induced] or #[span.kw subordinated on] $L=[F]$ (with $\dim L \gt 0$) by $\PP_n$ is 
                | $$(L, \pi|_{F \setminus\{0\}}:F\setminus\{0\}\rightarrow L).$$
              +lem $L_1=[F_1], L_2=[F_2] \in \mathcal{V}(\PP_n) \Rightarrow (L_1 \subseteq L_2) \Leftrightarrow F_1 \subseteq F_2$.
              +thm For any $L_1,L_2\in\mathcal{V}(\PP_n)$:
                ol
                  li $L_1 \subseteq L_2 \Rightarrow \dim L_1 \le \dim L_2$;
                  li $L_1 \subseteq L_2$ and $\dim L_1 = \dim L_2 \Rightarrow L_1=L_2$.
              +not $\emptyset \subseteq L \subseteq \PP_n \Rightarrow -1 \le \dim L \le n$
            h2 Incidence of linear varieties
            .slide
              +thm #[em Intersection]: If $L_1=[F_1], L_2=[F_2] \in \mathcal{V}(\PP_n)$, then 
                | $$L_1 \cap L_2 = [F_1 \cap F_2] \in \mathcal{V}(\PP_n)$$
              +thm If $L_1,L_2\in\mathcal{V}(\PP_n)$ then $L_1 \cap L_2\in\mathcal{V}(PP_n)$, and any $T \in \mathcal{V}(PP_N)$ contained in $L_1$ and $L_2$ is contained in $L_1 \cap L_2$, which is the only linear variety satisfying those properties.
              +not $L_1 \cap L_2=\inf{L_1,L_2}$ for a poset $(\mathcal{V}(\PP_n), \subseteq)$
              +def #[span.kw Join] $L_1 \vee L_2 = [F_1 + F_2]$ a.k.a. the linear variety #[spanned] by $L_1, L_2$.
              +thm If $L_1,L_2 \in \mathcal{V}(\PP_n)$ then $L_1 \vee L_2 \in \mathcal{V}(\PP_n)$, and any $T \in \mathcal{V}(\PP_n)$ containing $L_1$ and $L_2$ contains in turn $L_1 \vee L_2$, which is the only linear variety satisfying those properties.
              +not $L_1 \vee L_2=\sup{L_1,L_2}$ for poset $(\mathcal{V}(\PP_n), \subseteq)$
              +cor If $L_1, L_2, L'_1, L'_2 \in \mathcal{V}(\PP_1)$ then 
                | $$L_1 \subseteq L'_1, L_2 \subseteq L'_2 \Rightarrow L_1 \vee L_2 \subseteq L'_1 \vee L'_2$$
              +cor If $L_i=[F_i], i=1,\dots,k$:
                ol
                  li $L_1 \cap \cdots \cap L_k = [F_1 \cap \cdots \cap F_k]$;
                  li $L_1 \vee \cdots \vee L_k = [F_1 + \cdots + F_k]$.
              +thm If $L_1,\dots,L_k \in \mathcal{V}(\PP_n)$:
                ol
                  li $L_1 \cap \cdots \cap L_k \subseteq L_i, \forall i \quad $
                    |  and $ \quad T\subseteq L_i, \forall i \Rightarrow T \subseteq L_1\cap \cdots \cap L_r$;
                  li $L_1 \vee \cdots \vee L_k \supseteq L_i, \forall i \quad $
                    |  and $ \quad T\supseteq L_i, \forall i \Rightarrow T \supseteq L_1\vee \cdots \vee L_r$.

              +thm #[span.kw Grassman formula] For any $L_1, L_2\in\mathcal{V}(\PP_n)$
                | $$\dim L_1 + \dim L_2 = \dim L_1 \cap L_2 + \dim L_1 \vee L_2$$
              +cor If $L \in \mathcal{V}(\PP_n)$ and $p \notin L$ is a point of $\PP_n$, then
                | $$\dim L \vee p = \dim L + 1$$
              +cor If $L \in \mathcal{V}(\PP_n)$ and $H \not\supseteq L$ is a hyperplane of $\PP_n$, then
                | $$\dim L \cap H = \dim L - 1$$
              +cor Assume below different (or disjoint) elements:
                ol
                  li In $\PP_n$, point $\vee$ point $=$ line
                  li In $\PP_n$, point $\vee$ line $=$ plane
                  li In $\PP_2$, line $\cap$ line $=$ point
                  li In $\PP_3$, line $\cap$ plane $=$ point
                  li In $\PP_3$, plane $\cap$ plane $=$ line
                  li In $\PP_3$, line $\vee$ line $=\begin{cases}
                    | \text{whole spaces}&\Leftrightarrow\text{line} \cap \text{line}=\emptyset &\text{(skew lines)}\\
                    | \text{plane}&\Leftrightarrow\text{line}\cap\text{line}=\text{point}&\text{(coplanar lines)}\end{cases}$
              +cor If $L_1,L_2\in\mathcal{V}(\PP_n)$, then
                | $$\dim L_1 + \dim L_2 \gt n-1 \Rightarrow L_1 \cap L_2 \neq \emptyset$$
              +cor("cor-supplementary") If $L_1,L_2\in\mathcal{V}(\PP_n)$, any two conditions imply the third one:
                ol
                  li $L_1\cap L_2 = \emptyset$;
                  li $L_1\vee L_2 = \PP_n$;
                  li $\dim L_1 + \dim L_2 = n-1$.
              +def Linear varieties satisfying #[a(href="#cor-supplementary")] are called #[span.kw supplementary] (one #[span.kw supplementary to] the other).
              +not $L_1=[F_1], L_2=[F_2]$ are supplementary iff $E=F_1 \oplus F_2$.
              +cor If $L_1,\dots,L_k \in \mathcal{V}(\PP_n), k \ge 2$, then 
                | $$n-\dim(L_1 \cap \dots \cap L_m) \le \sum_{i=1}^k(n-\dim L_i)$$
                | and equality holds iff $(L_1 \cap \dots \cap L_{i-1}) \vee L_i=\PP_n, \forall i=2,\dots,k$.
              +def Point $p$ #[span.kw belongs to] or #[span.kw lies on] $L\in\mathcal{V}(\PP_n)$ if $p\in L$. In this case, $L$ #[span.kw goes] or #[span.kw passes through] $p$.
              +def Intersection of linear varieties is also called a #[span.kw section] of either of them by the other.
              +def #[span.kw Collinear] points $p_1,p_2$ if lying on line $L$.
              +def #[span.kw Coplanar] points $p_1,p_2$ if lying on plane $P$.
              +def $L_1, L_2$ #[span.kw meet] or are #[span.kw concurrent] if $L_1\cap L_2 \neq \emptyset$.
                ol
                  li If $p \in L_1 \cap L_2$, then they are #[span.kw concurrent] or #[span.kw meet at] $p$.
                  li If $p\notin L_1 \cap L_2$, then they #[span.kw misses] $p$.
            h2 Linear independence of points
            .slide
              +thm Let $p_0, \dots, p_k$ be points of $\PP_n$. Then
                ol
                  li $\dim p_0 \vee \cdots \vee p_k \le k$, and
                  li $\dim p_0 \vee \cdots \vee p_k = k \Leftrightarrow \forall i=1,\dots,k, p_i \neq p_0 \vee \cdots \vee p_{i-1}$.
                The order of points does not matter.
              +def Points $p_0=[\vv_0],\dots,p_k=[\vv_k] \in \PP_n$ are #[span.kw linearly independent] (LI) if $\vv_0,\dots,\vv_k$ are LI. Otherwise, it is #[span.kw linearly dependent] (LD).
              +thm $p_0,\dots,p_k \in \PP_n$ are LI $\Leftrightarrow \dim p_0 \vee \cdots \vee p_k = k$.
              +thm The following claim works regardless of ordering of points:
                | $$p_0,\dots,p_k \text{ are LI} \Leftrightarrow \forall i=1,\dots,k: p_i\notin p_0\vee \dots\vee p_{i-1}$$
              +cor Subsets of an LI set are LI.
              +not $d+1$ points spanning $L$ with $\dim L=d$ are LI.
                | Conversely, $d+1$ LI points in $L$ with $\dim L=d$ span it.
                br
                | Thus, if $d+1$ LI points of $L$ with $\dim L=d$, belong to $L'$, then $L \subseteq L'$.
              +thm Let points $p_0, \dots,p_k \in L \in \mathcal{V}(\PP_v)$ with $\dim L=d$. Then
                ol
                  li $k le d$, and
                  li There exist points $p_{k+1},\dots,p_d$ in $L$ s.t. $p_0,\dots,p_d$ are LI.
              +cor Any $L\in \mathcal{V}(\PP_n)$ has a supplementary.
              +cor If $L,L' \in \mathcal{V}(\PP_n), L' \subseteq L, k=\dim L', d=\dim L$, then $\exists L_i \in \mathcal{V}(\PP_n), i=k+1,\dots,d-1$ s.t. $\dim L_i=i$, and
                | $$L' \subset L_{k+1} \subseteq \dots \subseteq L_{d-1} \subseteq L$$
              +thm Any maximal subset of LI points of a finite set of points $\{p_0, \dots, p_k\}$ spans $p_0\vee \cdots \vee p_k$.
            h2 Projectivities
            .slide
              +def Let $(\PP_n, E, \pi), (\PP'_n,E',\pi')$ be projective spaces over $\FF$ and $\phi: E \isom E'$ be an isomorphism. The map $f:\PP_n \rightarrow \PP'_n$, where $f(p=[\vv])=[\phi(\vv)]$ is called the #[span.kw projectivity induced] or #[span.kw represented by] its #[span.kw representative] $\phi$, written $f=[\phi]$. If $\phi$ is not relevant, then $f$ is simply called #[span.kw projectivity] or #[span.kw homography].
              +not If there is a projectivity $f:\PP_n \rightarrow \PP'_m$, then $m=n$ and $\FF=\FF'$.
              +def A pair of #[span.kw homographic projective spaces] is a triple $(\PP_n, \PP'_n, f)$ where $f:\PP_n\rightarrow \PP'_n$ is a projectivity.
              +lem For isomorphisms $\phi, \psi: E \isom E'$
                | $$[\phi]=[\psi] \Leftrightarrow \exists \lambda\neq 0\in \FF: \phi=\lambda \psi$$
              +thm 
                ol
                  li $\Id_{\PP_n}=[\Id_E] $
                  li If $f=[\phi]:\PP_n \rightarrow \PP'_n$ and $g=[\psi]:\PP'_n\rightarrow \PP''_n$ are projectivities, then $g \circ f =[\psi \circ \phi]$; in particular, $g \circ f$ is a projectivity.
                  li If $f=[\phi]$ is a projectivity, then it is bijective and its inverse map is the projectivity induced by $\phi^{-1}, f^{-1}=[\phi^{-1}]$.
              +thm
                ol
                  li $(E,\pi), (E',\pi')$ are equivalent iff $\Id_\PP:(\PP,E,\pi)\rightarrow(\PP,E',\pi')$ is a projectivity;
                  li If $f:\PP \rightarrow \bar{\PP}$ into $(\bar{\PP}, \bar{E}, \bar{\pi})$ is a projectivity for both $(E,\pi), (E',\pi')$, then they are equivalent.
              
            h2 Projective invariance
            .slide
              +thm If $f=[\phi]:\PP_n \rightarrow \bar{\PP}_n$ is a projectivity and $L=[F]$ is a linear variety of $\PP_n$, then:
                ol
                  li $f(L)\in\mathcal{V}(\bar{\PP}_n)$ where $\phi(F):f(L)=[\phi(F)]$. In particular, $\dim f(L)=\dim L$.
                  li $\dim L \gt 0$, then $f|_L:L \rightarrow f(L)$ is induced by $\phi|_F:F\rightarrow phi(F)$.
              +not
              +cor If $f=[\phi]:\PP_n \rightarrow \bar{\PP}n$ is a projectivity and $L_1, L_2$ are linear varieties of $\PP_n$, then
                ol
                  li $L_1 \subseteq L_2 \Leftrightarrow f(L_1)\subseteq f(L_2)$;
                  li $f(L_1 \cap L_2) = f(L_1) \cap f(L_2)$;
                  li $f(L_1 \vee L_2) = f(L_1) \vee f(L_2)$.
              +not
              +cor If $f=[\phi]:\PP_n \rightarrow \bar{\PP}_n$ is a projectivity, then
                | $$p_0, \dots, p_k \in \PP_n \text{ are LI } \Leftrightarrow f(p_0),\dots,f(p_k)\text{ are LI}.$$
              +def #[span.kw Linear figure]: finite set $F \in \mathcal{V}(\PP_n)$, classified in a number of subsets.
              +def A class of linear figures is #[span.kw projective] iff if it is invariant by projectivities.
              +not Classes of linear figures defined by conditions formulated in terms of dimension, inclusion, intersection, join and independence of points, are projective. Intersections and unions of projective classes are projective classes.
              +def A (#[span.kw complete]) #[span.kw quadrilateral] is the linear figure of $\PP_2$ with four lines (#[span.kw sides]), no three of which are concurrent, and six points (#[span.kw vertices]) for the intersections of $\binom{4}{2}$ pairs of different sides. Two vertices are #[span.kw opposite] iff no side contains both. The join of opposite vertices is a #[span.kw diagonal]. A quadrilateral has three different diagonals.
              +def A #[span.kw quadrivertex] (or #[span.kw quadrangle]) is the linear figure of $\PP_2$ with four points (#[span.kw vertices]), no three of which are aligned and six different lines (#[span.kw sides]) spanned the $\binom{4}{2}$ pairs of different vertices. Two sides are #[span.kw opposite] iff they share no vertex. The intersection of opposite sides is a #[span.kw diagonal point]. A quadrivertex has three different diagonal points.
              
            h2 Pappus' and Desargues' theorems
            .slide
              +thm The three diagonals of a complete quadrilateral are not concurrent.
              +thm The three diagonal points of a quadrivertex are not aligned.
              +thm() (#[span.kw Desargues]): Let $A B C$, $A'B'C'$ be triangles of $\PP_2$, and $(a,b,c),(a',b',c')$ be sides opposite to $(A,B,C),(A',B',C')$, resp. Assume $A \neq A', B\neq B', C\neq C', a\neq a', b\neq b', c\neq c'$. If $A A', B B', C C'$ are concurrent, then $a \cap a', b\cap b', c \cap c'$ are alined.
              +thm() (#[span.kw Pappus])
            h2 Projection, section and perspectivity
            h2 What is projective geometry about?
            h2 Exercises
