@font-face {
  font-family: 'tex_gyre_pagella';
  src: url('../font/texgyrepagella-regular-webfont.eot');
  src: url('../font/texgyrepagella-regular-webfont.eot?#iefix') format('embedded-opentype'),
    /* url('../font/texgyrepagella-regular-webfont.woff2') format('woff2'), */
    url('../font/texgyrepagella-regular-webfont.woff') format('woff'),
    url('../font/texgyrepagella-regular-webfont.ttf') format('truetype'),
    url('../font/texgyrepagella-regular-webfont.svg#tex_gyre_pagellaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tex_gyre_pagella';
  src: url('../font/texgyrepagella-bold-webfont.eot');
  src: url('../font/texgyrepagella-bold-webfont.eot?#iefix') format('embedded-opentype'),
    /* url('../font/texgyrepagella-bold-webfont.woff2') format('woff2'), */
    url('../font/texgyrepagella-bold-webfont.woff') format('woff'),
    url('../font/texgyrepagella-bold-webfont.ttf') format('truetype'),
    url('../font/texgyrepagella-bold-webfont.svg#tex_gyre_pagellabold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'tex_gyre_pagella';
  src: url('../font/texgyrepagella-italic-webfont.eot');
  src: url('../font/texgyrepagella-italic-webfont.eot?#iefix') format('embedded-opentype'),
    /* url('../font/texgyrepagella-italic-webfont.woff2') format('woff2'), */
    url('../font/texgyrepagella-italic-webfont.woff') format('woff'),
    url('../font/texgyrepagella-italic-webfont.ttf') format('truetype'),
    url('../font/texgyrepagella-italic-webfont.svg#tex_gyre_pagellaitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}


@font-face {
  font-family: 'tex_gyre_pagella';
  src: url('../font/texgyrepagella-bolditalic-webfont.eot');
  src: url('../font/texgyrepagella-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    /* url('../font/texgyrepagella-bolditalic-webfont.woff2') format('woff2'), */
    url('../font/texgyrepagella-bolditalic-webfont.woff') format('woff'),
    url('../font/texgyrepagella-bolditalic-webfont.ttf') format('truetype'),
    url('../font/texgyrepagella-bolditalic-webfont.svg#tex_gyre_pagellabold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}



*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  /* font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.katex {
  font-size: 1.1em;
  font-family: KaTeX_Main, Times New Roman, serif;
}

.kw {
  font-weight: bold;
}

.thm {
  padding: 5px;
  margin-bottom: 5px;
  border-left: 5px solid black;
}

.thm::before {
  font-weight: bold;
}

.definition {
  background-color: #ffeeee;
  counter-increment: definition;
  border-left-color: #990000;
}

.theorem {
  background-color: #eeffee;
  counter-increment: theorem;
  border-left-color: #006600;
}

.example {
  background-color: #eeeeff;
  counter-increment: example;
  border-left-color: #000099;
}

.lemma {
  background-color: #eeffee;
  counter-increment: theorem;
  border-left-color: #009900;
}

.corollary {
  background-color: #eeffee;
  counter-increment: theorem;
  border-left-color: #009900;
}

table th {
  font-weight: bold;
}

.proof {
  background-color: none;
  border-left-color: none;
  border: none;
  position: relative;
  display: none;
}

.note {
  background-color: #eeeeee;
  counter-increment: note;
  border-left-color: black;
}

.proof::after {
  content: "\220E";
  position: absolute;
  right: 0;
  bottom: 0;
}

.note::before {
  content: "N " counter(h1counter)"." counter(note)". ";
  color: black;
}

.definition::before {
  content: "D " counter(h1counter)"." counter(definition)". ";
  color: #990000;
}


.example::before {
  content: "E " counter(h1counter)"." counter(example)". ";
  color: #000099;
}

.theorem::before {
  content: "T " counter(h1counter)"." counter(theorem)". ";
  color: #006600;
}

.corollary::before {
  content: "C " counter(h1counter)"." counter(theorem)". ";
  color: #006600;
}

.lemma::before {
  content: "L " counter(h1counter)"." counter(theorem)". ";
  color: #009900;
}

.proof::before {
  content: "Proof: ";
  color: black;
  font-weight: normal;
  font-style: italic;
}

body {
  counter-reset: definition theorem example h1counter h2counter h3counter;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  font-family: tex_gyre_pagella;
}

body,
html {
  font-size: 12pt;
  scroll-behavior: smooth;
}


.content * {
  scroll-behavior: smooth;
}

.outline a {
  color: white;
  text-decoration: none;
}

.outline {
  display: none;
  flex-direction: column;
  width: 200px;
  background: #333333;
  color: white;
  font-size: 10pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
html {
  scroll-behavior: smooth !important;
}

.outline .title {
  font-size: 16pt;
  text-align: center;
}

.outline li {
  /* height: 23px; */
  cursor: pointer;
}

/* .outline ol ol {
  margin-left: 1em;
} */

/* .outline ol {
  margin-left: 0;
} */

.outline ol>li {
  position: relative;
}

.outline ol>li::before {
  counter-increment: paragraph;
  content: counters(paragraph) " ";
  position: absolute;
  left: -2.5em;
}


.outline li:hover {
  background: rgba(255, 255, 255, .1);
}

body>header {
  height: 25px;
  background: #333;
  color: white;
}

body>main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

body>main>main {
  flex: 1;
  overflow: auto;
}

body>footer {
  height: 25px;
  background-color: black;
  color: white;
}

.slide {
  margin-left: 10px;
  margin-right: 10px;
}

ul,
ol {
  margin-left: 1em;
}

ul>li,
ol>li {
  margin-left: 10px;
}

h1 {
  font-size: 2em;
  margin-left: 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  counter-increment: h1counter;
  counter-reset: definition theorem example lemma h2counter;
}

h1::before {
  content: counter(h1counter)". ";
}

h2 {
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: .3em;
  margin-bottom: .3em;
  counter-increment: h2counter;
  counter-reset: h3counter;
}

h3 {
  font-size: 1.3em;
  margin-left: 10px;
  margin-top: .5em;
  margin-bottom: .3em;
  counter-increment: h3counter;
}

h2::before {
  content: counter(h1counter)"." counter(h2counter)". ";
}

h3::before {
  content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)". ";
}

#sec3-examples-vector-spaces,
#sec2-subspaces,
.def,
.thm,
.ex,
.lem,
.cor,
.prf,
h1,
h2,
h3,
.part {
  opacity: 0;
}

#def-vector-space ol li {
  display: flex;
}

#def-vector-space ol li div {
  flex: 1;
  display: inline;
  text-align: right;
}

figure {
  counter-increment: figure;
}

figcaption {
  text-align: center;
}

figcaption::before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}

.katex-display {
  margin: .3em 0;
}

#chp-vector-spaces {}

#chp-linear-transformations {}

#chp-isomorphism-theorems {}

#chp-modules-1 {}

#chp-modules-2 {}

#chp-modules-over-pid {}

#chp-structure-linop {}

#chp-eigen {}

#chp-innerproduct-spaces {}

#chp-normal-op {}

#chp-metric-vector-space {}

#chp-metric-spaces {}

#chp-hilbert-space {}

#chp-tensor-product {}

#chp-positive-solutions {}

#chp-affine-geometry {}

#chp-singular-values {}

a.ref::after {
  content: target-counter(attr(href url), page);
}

.blk-letter {
  font-weight: bold;
}

.def-letter {
  color: #990000;
}

.thm-letter {
  color: #006600;
}

.ex-letter {
  color: #000099;
}

.lem-letter {
  color: #009900;
}

.cor-letter {
  color: #009900;
}

.prf-letter {
  color: black;
}

.legend {
  border: 1px solid black;
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.timeline {
  height: 20px;
  background: #222;
  color: white;
  display: flex;
  position: relative;
}

.timeline-comp {
  display: flex;
  flex: 1;
  position: relative;
}

.time {
  padding: 0 5px;
}

.progress {
  width: 50%;
  height: 100%;
  background: #006600;
}

.handle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  opacity: 1;
  cursor: pointer;
}

.btn-rewind {
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;

}

.btn-play {
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

.audio {
  width: 100%;
  height: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #ddd;
  color: white;
}

audio::-webkit-media-controls-mute-button {
  background-color: #B1D4E0;
  color: white;
}

audio::-webkit-media-controls-play-button {
  color: white;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}

.content2 {
  max-width: 1024px;
}

.content {
  display: flex;
  justify-content: center;
}

.bl {
  border-left: 1px solid black;
}

.br {
  border-right: 1px solid black;
}

.bt {
  border-top: 1px solid black;
}

.bb {
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 1px 3px;
}

.txtc {
  text-align: center;
}

.txti {
  text-align: initial;
}

.cv {
  font-weight: bold;
  font-style: normal;
}