mixin thmbase(klass,id)
  .part(class="thm " + klass, id=id)
    if block
      block
mixin def(id)
  +thmbase("definition", id)
    if block
      block
mixin thm(id)
  +thmbase("theorem", id)
    if block
      block
mixin prf(id)
  +thmbase("proof", id)
    if block
      block
mixin cor(id)
  +thmbase("corollary", id)
    if block
      block
mixin lem(id)
  +thmbase("lemma", id)
    if block
      block
mixin not(id)
  +thmbase("note", id)
    if block
      block

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous")
    link(rel="stylesheet", href="css-reset.css")
    script(defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous")
    script(defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous")
    style.
      .kw{
        font-weight:bold;
      }
      .thm {
        border-left: 5px solid;
        margin-bottom: 5px;
        padding: 5px;
      }
      .thm::before{
        font-weight: bold;
      }
      .thm.definition::before{
        content: "D ";
        color: #990000;
      }
      .thm.theorem::before{
        content: "T ";
        color: #009900;
      }
      .thm.note::before{
        content: "N ";
        color: black;
      }
      .thm.corollary::before{
        content: "C ";
        color: #00FF00;
      }
      .thm.definition{
        background-color: #ffeeee;
        border-left-color: #990000;
      }
      .thm.theorem{
        background-color: #eeffee;
        border-left-color: #009900;
      }
      .thm.corollary{
        background-color: #eeffee;
        border-left-color: #00FF00;
      }
      .thm.note{
        background-color: #eeeeee;
        border-left-color: black;
      }
      .katex-display{
        margin: 0;
      }
      ul{
        list-style: circle;
        padding-left: 2em;
      }
      ol{
        list-style: decimal;
        padding-left: 2em;
      }
      h1{margin-top: .5em;}
      h2{margin-top: .25em;}

    script.
      document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
      });
    title Document
  body
    | $\gdef\cv#1{\bold{#1}} \gdef\rr{\cv{r}} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\aa{\cv{a}} \gdef\bb{\cv{b}} \gdef\cc{\cv{c}} \gdef\uu{\cv{uu}} \gdef\ii{\cv{i}} \gdef\jj{\cv{j}} \gdef\vv{\cv{v}} \gdef\ww{\cv{w}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\zz{\cv{z}} \gdef\oidx{\mathcal{O}}\gdef\uidx{\mathcal{U}} \gdef\NN{\mathbb{N}} \gdef\rev#1{\tilde{#1}} \gdef\norm#1{\|#1\|} \gdef\ext{\bigwedge} \gdef\span#1{\langle #1 \rangle} \gdef\FF{\mathbb{F}} \gdef\blset{\ext_B}$
    h1 Multi-index formalism
    
    +def #[span.kw Unordered indices]: $\rr,\ss,\tt \in \uidx$
      | $$\uidx_k^n=\{(i_1,\dots,i_k)\in \NN^k: i_j \le n, i_j \neq i_k \text{ if } j \neq k\}$$
      | $$\uidx_0^n=\{\emptyset\} \qquad \uidx^n=\bigcup_{k=0}^n\uidx_k^n\qquad \uidx=\bigcup_{n=0}^\infty \uidx^n$$
    +def #[span.kw Ordered indices]: $\rr,\ss,\tt \in \oidx$
      | $$\oidx_k^n=\{(i_1,\dots,i_k)\in \NN^k: 1 \le i_i \le \dots\le i_k\le n\}$$
      | $$\oidx_0^n=\{\emptyset\} \qquad \oidx^n=\bigcup_{k=0}^n\oidx_k^n\qquad \oidx=\bigcup_{n=0}^\infty \oidx^n$$
    +def #[span.kw Unary index operations] on $\ii=(i_1,\dots,i_k)=i_1\dots i_k$:
      ol
        li #[span.kw Grade]: $|\ii| = k$
        li #[span.kw Reversion]: $\rev{\ii}=i_k\dots i_1$
        li #[span.kw Sum]: $\norm{\ii}=i_1+\dots+i_k$
        li #[span.kw Complement]: $\ii'=(1,\dots,n)\setminus\ii$
      | $|\emptyset|=\norm{\emptyset}=0$
    +def #[span.kw Binary index operations]
      ul
        li For $\rr,\ss \in \uidx, \rr=r_1\dots r_k \quad \ss=s_1\dots s_l$
          ol
            li #[span.kw Difference]: $\rr\setminus \ss \in \uidx$ (removing from $\rr$ any indices of $\ss$)
            li #[span.kw Disjoint]: $\rr\cap\ss=\emptyset\Leftrightarrow r_i\neq s_i$ (no common indices)
            li #[span.kw Concatenation]: $\rr\ss=r_1\dots r_ks_1\dots s_l\in\uidx$ (if disjoint)
            li #[span.kw Subsequence]: $\rr\subset \ss \Leftrightarrow r_i \in \rr \Rightarrow r_i \in \ss$
            li #[span.kw Ordering]: $\bar{r}\in\oidx^n_k$ (permutation sign: $\epsilon_\rr$ ($\epsilon_\emptyset=1$))
            li #[span.kw Cartesian prod.]: $\rr\times\ss=\{(r,s): r\in\rr, s\in\ss\}$
            li #[span.kw Larger indices]: $\rr \gt \ss=\{(r,s)\in \rr\times \ss: r \gt s\}$
        li For $\ii,\jj \in \oidx$:
          ol
            li #[span.kw Intersection]: $i_1\dots i_k \in \oidx, i_j \in \ii$ and $i_j\in\jj$
            li #[span.kw Union]: $\ii\cup\jj = i_1\dots i_k\in\oidx, i_j \in \ii$ or $i_j \in \jj$
            li #[span.kw Symmetric diff]: $\ii \triangle \jj=(\ii\setminus\jj)\cup(\jj\setminus\ii)$

    h1 Exterior Algebra
    .slide
      +def #[span.kw $k$-Exterior power]: quotient algebra $\ext^k V=T^k(V)/I_k$ where
        | $$I_k=\span{\{\vv_1\otimes \cdots\otimes\vv_k: \vv_1,\dots,\vv_k \in V, \vv_i=\vv_j \text{ for some } i\neq j\}}.$$
      +not $\ext^0 V=\FF, \ext^1 V = V$
      +def #[span.kw $k$-Blade] $A=\vv_1\wedge\dots\wedge \vv_k=\vv_{1\dots k}=\vv_1\otimes \dots \otimes \vv_k + I_k$.
      +def #[span.kw $k$-Vector $G=\sum_i A_i\in \ext^k V, A_i \in \ext^k V$.]
      +def #[span.kw Notation on blades]
        ol
          li #[span.kw Set of all $k$-blades]: $\blset^k V := \{\vv_{1\dots k} \in \ext^k V\}$
          li #[span.kw Set of all blades]: $\blset V:=\bigcup_{k=0}^\infty \blset^k$
          li #[span.kw Nonzero blades]: $\blset^\ast V:= \blset V \setminus \{0\} \quad  \blset^{k\ast} V:= \blset^k V \setminus \{0\}$
      
      +def #[span.kw Grassman's exterior algebra]: graded algebra
        | $$\ext V = \bigoplus_k \ext^k V = \ext^0 V \oplus \ext^1 V + \dots $$
        | with #[span.kw exterior product] $\wedge: \ext^p V \times \ext^q V \rightarrow \ext^{p+q}V$.