mixin thmbase(klass,id)
  .part(class="thm " + klass, id=id)
    if block
      block
mixin def(id)
  +thmbase("definition", id)
    if block
      block
mixin thm(id)
  +thmbase("theorem", id)
    if block
      block
mixin prf(id)
  +thmbase("proof", id)
    if block
      block
mixin cor(id)
  +thmbase("corollary", id)
    if block
      block
mixin lem(id)
  +thmbase("lemma", id)
    if block
      block
mixin not(id)
  +thmbase("note", id)
    if block
      block

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous")
    link(rel="stylesheet", href="css-reset.css")
    script(defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous")
    script(defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous")
    style.
      .kw{
        font-weight:bold;
      }
      .thm {
        border-left: 5px solid;
        margin-bottom: 5px;
        padding: 5px;
      }
      .thm::before{
        font-weight: bold;
      }
      .thm.definition::before{
        content: "D ";
        color: #990000;
      }
      .thm.theorem::before{
        content: "T ";
        color: #009900;
      }
      .thm.note::before{
        content: "N ";
        color: black;
      }
      .thm.corollary::before{
        content: "C ";
        color: #00FF00;
      }
      .thm.definition{
        background-color: #ffeeee;
        border-left-color: #990000;
      }
      .thm.theorem{
        background-color: #eeffee;
        border-left-color: #009900;
      }
      .thm.corollary{
        background-color: #eeffee;
        border-left-color: #00FF00;
      }
      .thm.note{
        background-color: #eeeeee;
        border-left-color: black;
      }
      .katex-display{
        margin: 0;
      }
      ul{
        list-style: circle;
        padding-left: 2em;
      }
      ol{
        list-style: decimal;
        padding-left: 2em;
      }
      h1{margin-top: .5em;}
      h2{margin-top: .25em;}

    script.
      document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
      });
    title Document
  body
    