mixin kw(keyword)
  span.kw=keyword
mixin def(id)
  .thm.definition(id=id)
    if block
      block
mixin thm(id)
  .thm.theorem(id=id)
    if block
      block
mixin cor(id)
  .thm.corollary(id=id)
    if block
      block
mixin lem(id)
  .thm.lemma(id=id)
    if block
      block
mixin prf(id)
  .thm.proof(id=id)
    if block
      block
mixin ex(id)
  .thm.example(id=id)
    if block
      block
mixin not(id)
  .thm.note(id=id)
    if block
      block
mixin ref(id)
  a.ref(href=id)
