head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HTML5 Example
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css", integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+", crossorigin="anonymous")
    //-  The loading of KaTeX is deferred to speed up page rendering
    script(defer, src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js",
    integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg",
    crossorigin="anonymous") 

    //- To automatically render math in text elements, include the auto-render extension:
    script(defer, src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js",
      integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous", onload="renderMathInElement(document.body, {\
        \n// customised options\
        \n// • auto-render specific keys, e.g.:\
        \ndelimiters: [\
        \n    {left: '$$', right: '$$', display: true},\
        \n    {left: '$', right: '$', display: false},\
        \n    {left: '\\\\(', right: '\\\\)', display: false},\
        \n    {left: '\\\\[', right: '\\\\]', display: true}\
        \n],\
        \n// • rendering keys, e.g.:\
        \nthrowOnError : false\
      \n});")
    link(rel="stylesheet", href="../css/base.css")
    script(src="../js/anime.min.js")
    script(src="../js/base.js")
    link(rel="icon", href="../../gacs/figs/favicon.svg", type="image/svg+xml")