doctype html
include base.pug
html(lang="en")
  include head.pug
  body
    header
      include gdefs.pug
      span Subjects
      input(type="text", name="")
    .timeline
      audio.audio(src="audio/vector-space.m4a" controls)
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator
      main.content
        main.content2
          .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
          .chapter#chp-isomorphism-theorems
            h1 The Isomorphism Theorems
            h2 Quotient Spaces
            +def Let $S \le V$ and $\vv \in V$. Then $[\vv]=\vv+S=\{\vv+\ss:\ss\in S\}$ is called a #[span.kw coset] of $S$ in $V$, and $\vv$ is a #[span.kw coset representative] for $\vv+S$.
            +thm $[\xx] = [\vv]\Leftrightarrow \xx \in [\vv]$
            +thm Let $S \le V$. The binary relation $\uu\equiv \vv\Leftrightarrow \uu-\vv\in S$ is an equivalence relation on $V$, whose equiv. classes are $[\vv]=\vv+S$.
            +def Let $S \le V$. The set $V/S=\{\vv+S:\vv\in V\}$ is the #[span.kw quotient space] of $V$ modulo $S$. The #[span.kw zero] vector in $V/S$ is $\{0\}=0+S=S$.
            +thm $V/S$ is a vector space under well-defined operations
              | $$\alpha(\uu+S)=\alpha\uu + S quad (\uu+S)=(\vv+S)=(\uu+\vv)+S$$
            h3 The Natural Projection and the Correspondence Theorem
            +def #[span.kw Canonical] (or #[span.kw natural]) #[span.kw projection] of $V$ onto $V/S$:
              | $$\pi_S:V \rightarrow V/S \quad \pi_S(\vv)=\vv+S = [\vv] $$
            +thm $\pi_S\in \epi()$
            +thm
            
            h2 The Universal Property of Quotients and the First Isomorphism Theorem
            +thm
            +thm
            h2 Quotient Spaces, Complements and Codimension
            +thm
            +cor
            +def
            +not
            h2 Additional Isomorphism Theorems
            +thm 
            +thm
            +thm
            h2 Linear Functionals
            +def
            +def
            +thm
            +thm

            h2 Dual Bases
            +def
            +thm
            +def
            +thm
            
            h2 Reflexivity
            +def
            +def
            +thm
            +def
            +thm
            h2 Annihilators
            +def
            +thm
            +thm
            +def
            +not
            +thm
            +thm
            h2 Operator Adjoints
            +def
            +thm
            +thm
            +thm
            +cor
            +thm
            h2 Exercises

