doctype html
include base.pug
html(lang="en")
  include head.pug
  body
    header
      span $\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$
      span Subjects
      input(type="text", name="")
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator

      main.content
        .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
        .chapter#chp-modules-1
          h1 Modules I: Basic Properties
          h2 Motivation
          h2 Modules
          h2 Submodules
          h2 Spanning Sets
          h2 Linear Independence
          h2 Torsion Elements
          h2 Annihilators
          h2 Free Modules
          h2 Homomorphisms
          h2 Quotient Modules
          h2 The Correspondence and Isomorphism Theorems
          h2 Direct Sums and Direct Summands
          h2 Modules Are Not as Nice as Vector Spaces
          h2 Exercises
