doctype html
include ../base.pug
html(lang="en")
  include ../head.pug
  body
    header
      span $\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$
      span Subjects
      input(type="text", name="")
    .timeline
      audio.audio(src="../audio/vector-space.m4a" controls)
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li <a href="outline">Outline</a>
          li <a href="#sec1-vector-spaces">Vector Spaces</a>
          ol
            li <a href="#sec2-outline">Outline</a>
            li <a href="#sec2-vector-spaces">Vector Spaces</a>
            li <a href="#sec2-subspaces">Subspaces</a>
            li <a href="#sec2-direct-sums">Direct Sums</a>
            li <a href="#sec2-span-li">Spanning Sets and Linear Independence</a>
            li <a href="#sec2-dimension">The Dimension of a Vector Space</a>
            li <a href="#sec2-ordered-basis-coord-mtx">Ordered Bases and Coordinate Matrices</a>
            li <a href="#sec2-col-row-rank">The Row and Column Spaces of a Matrix</a>
            li <a href="#sec2-complexification">The Complexification of a Real Vector Space</a>
            li <a href="#sec2-exercises">Exercises</a>
          li <a href="linear-transformations.html">Linear Transformations</a>
          li <a href="isomorphism-thm">The Isomorphism Theorems</a>
          li <a href="modules1">Modules I: Basis Properties</a>
          li <a href="modules2">Modules II: Free and Noetherian Modules</a>
          li <a href="modules-pid">Modules over a Principal Ideal Domain</a>
          li <a href="struct-lin-op">The Structure of a Linear Operator</a>

      main.content
        main.content2
          .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
          .chapter#chp-vector-spaces
            h1#sec1-vector-spaces Vector spaces
            h2#sec2-outline Outline
            each val in [1, 2, 3, 4, 5,6,7,8,9]
              img.part(id="f-vector-space-outline-"+val src="../../gacs/figs/linalg_chp01_outline_0"+val+".svg", alt="", srcset="")
            h2#sec2-vector-spaces Vector spaces
            .slide#sld-vector-spaces
              +def("def-vector-space")
                | #[span.kw Vector space] $(V,+,\cdot)$ over field $\mathbb{F}$ of #[span.kw scalars]:
                ul
                  li.part#def-vector-space-01 $V \neq 0$ is a set of #[span.kw vectors] $\vv \in V$
                  li.part#def-vector-space-02 #[span.kw Vector addition] $+:V \times V \rightarrow V$
                  ol
                    li.part#def-vector-space-03 #[em Associativity]
                      div $\cv{u} + (\cv{v}+\cv{w})=(\cv{u}+\cv{v})+\cv{w}$
                    li.part#def-vector-space-04 #[em Commutativity]
                      div $\cv{u}+\cv{v}=\cv{v}+\cv{u}$
                    li.part#def-vector-space-05 #[em Identity]
                      div $\exists 0 \in V: \cv{v}+0=\cv{v}, \forall \cv{v} \in V$
                    li.part#def-vector-space-06 #[em Reverse]
                      div $\forall \cv{v} \in V, \exists -\cv{v}: \cv{v}+(-\cv{v})=0$
                  li.part#def-vector-space-07 #[span.kw Scalar multiplication] $\cdot: \FF \times V \rightarrow V$:
                  ol(start="5")
                    li.part#def-vector-space-08 #[em Scalar/Field compatibility]
                      div $\alpha(\beta \cv{v})=(\alpha \beta)\cv{v}$
                    li.part#def-vector-space-09 #[em Identity]
                      div $1\cv{v}=\cv{v}$
                    li.part#def-vector-space-10 #[em Distributivity w.r.t vector addition]
                      div $\alpha(\cv{u}+\cv{v})=\alpha\cv{u}+\alpha\cv{v}$
                    li.part#def-vector-space-11 #[em Distributivity w.r.t field addition]
                      div $(\alpha + \beta)\cv{u}=\alpha\cv{v}+\beta\cv{v}$
                span.part#def-vector-space-12 Axioms 1-4: abelian group under +, 5-8: $\mathbb{F}$-module
            .slide
              figure.txtc.part#fig-vs
                //- img(src="../gacs/figs/linalg_vector_space.svg", alt="", srcset="")
                svg.txti#fig-vs-assoc(width="300" height="120" viewBox="0 0 300 120")
                  defs
                    marker(id="a", overflow="visible", markerHeight="1", markerWidth="1", orient="auto-start-reverse", preserveAspectRatio="xMidYMid", refX="3", viewBox="0 0 1 1")
                      path(transform="scale(.5)", d="m5.77 0-8.65 5v-10z", fill="context-stroke", fill-rule="evenodd", stroke="context-stroke", stroke-width="1pt")
                  line#fig-vs-assoc-u-arr(x1="5",y1="5",x2="100",y2="5",marker-end="url(#a)", stroke="blue", stroke-width="2")
                  line#fig-vs-assoc-v-arr(x1="5",y1="5",x2="5",y2="100",marker-end="url(#a)", stroke="green", stroke-width="2")
                  line#fig-vs-assoc-u-arr2(x1="5",y1="100",x2="100",y2="100",marker-end="url(#a)", stroke="green", stroke-width="2")
                  line#fig-vs-assoc-v-arr2(x1="100",y1="5",x2="100",y2="100",marker-end="url(#a)", stroke="blue", stroke-width="2")
                  line#fig-vs-assoc-uv-arr(x1="5",y1="5",x2="100",y2="100",marker-end="url(#a)", stroke="black", stroke-width="2")
                  foreignObject#fig-vs-assoc-uv(x="110", y="80", width="60", height="20") $\uu + \vv$
                  foreignObject#fig-vs-assoc-u(x="50", y="5", width="60", height="20") $\uu$
                  foreignObject#fig-vs-assoc-v(x="5", y="40", width="60", height="20") $\vv$
                figcaption Interactive illustration of vectors $\uu$, $\vv$ and $\uu+\vv=\vv+\uu$.
            .slide#sld-r-c-vector-spaces
              +def("def-r-c-vector-space")
                +kw("Real (Complex) vector space")
                | : $\mathbb{F}=\mathbb{R} (\mathbb{F}=\CC)$
              +def("def-lincomb")
                +kw("Linear combination")
                |  of $\{\cv{v}_i\}_{i=0}^{n} \in V$ with 
                | #[span.kw coefficients] $\alpha_i \in \mathbb{F}$
                | $$\alpha_1 \cv{v}_1+\alpha_2 \cv{v}_2 + \cdots + \alpha_n \cv{v}_n$$
              +def("def-trivial")
                +kw("Trivial")
                |  linear combination: $\forall i, \alpha_i = 0$ (
                +kw("Nontrivial")
                |  otw)
            h3#sec3-examples-vector-spaces Examples of vector spaces
            .slide
              +ex("ex-functions")
                | $\mathbb{F}^\mathbb{F}$: set of all functions $f:\mathbb{F}\rightarrow\mathbb{F}$
                | $$(f+g)(x)=f(x)+g(x)\quad\text{and}\quad(\alpha f)(x)=\alpha(f(x))$$
              +ex("ex-matrices")
                | $\mathcal{M}_{m,n}(\mathbb{F})$: set of all $m \times n$ matrices over $\mathbb{F}$
              +ex("ex-sequences")
                | $\mathbb{F}^n$: set of all ordered sequences $(a_1,\dots,a_n)$:
                | $$(a_1,\dots,a_n)+(b_1,\dots,b_n)=(a_1+b_1,\dots,a_n+b_n)$$
                | $$\alpha(a_1,\dots,a_n)=(\alpha a_1,\dots,\alpha a_n).$$
              +ex("ex-infinite-sequences")
                | Set $\text{Seq}(\mathbb{F})$ of all infinite sequences over $\mathbb{F}$:
                | $$(s_n)+(t_n)=(s_n + t_n) \quad \alpha(s_n)=(\alpha s_n).$$
                ol
                  li#ex-infinite-seq-1 $c_0=\{(c_n):c_i\in \CC, \lim_{n\rightarrow \infty} c_n = 0\}$
                  li#ex-infinite-seq-2 $\ell^\infty = \{(s_n): s_i\in \CC, (s_i) \text{ is bounded} \}$
                  li#ex-infinite-seq-3 $\ell^p=\{(s_n): \sum_{i=1}^\infty |s_i|^p \lt \infty\}$
            h2#sec2-subspaces Subspaces
            .slide
              +def("def-subspaces") #[span.kw Subspaces]
                ul
                  li#def-subspace #[span.kw Subspace]: $S \subseteq V$ and $S$ is a vector space $\Leftrightarrow S \le V$.
                  li#def-proper-subsp #[span.kw Proper subspace]: $S \le V$ and $S \neq V \Leftrightarrow S \lt V$.
                  li#def-zero-subsp #[span.kw Zero subspace]: $\{0\}$.
              +thm("thm-subspace-nec-suf") $S \le V \Leftrightarrow \forall \cv{v},\cv{w} \in S, \alpha,\beta \in \mathbb{F}: \alpha\cv{v}+\beta\cv{w}\in S$
              +prf("prf-subspace-nec-suf") "$\Rightarrow$": immediate. "$\Leftarrow$": Since $S \subseteq V$, only closure under $+$ and $\cdot$ should be checked: $\forall \cv{v},\cv{w}\in S, \alpha,\beta \in \mathbb{F}$, then
                | $$\alpha\cv{v}+\beta\cv{w}\in S \Rightarrow 1 \cdot \cv{v}+ 1 \cdot \cv{w} \in S \text{ and } \alpha \cdot \cv{v} + 0 \cdot \cv{w}\in S.$$
              +ex("ex-subspace") Let $V(n,2)$ be a vector space of all binary $n$-tuples ($(1,0,0,1)\in V(4,2)$).
                ol
                  li#ex-subspace1 The #[span.kw weight] $\mathcal{W}(\cv{v})$ of $\cv{v} \in V(n,2)$ is the number of nonzero coordinates in $\cv{v}$.
                  li#ex-subspace2 $E_n=\{\vv\in V(n,2):\mathcal{W}(\vv)\text{ is even.}\}$
                span#ex-subspace3 $E_n$ is a subspace of $V(n,2)$.
            h3#sec3-lattice-subspaces The lattice of subspaces
            .slide
              +def("def-set-subspaces") $\mathcal{S}(V)$: set of all subspaces of $V$.
              +thm("thm-setsubsp-poset") $\mathcal{S}(V)$ is a poset under $\subseteq$:
                ol
                  li #[em Smallest element]: $\{0\}$;
                  li #[em Largest element]: $V$.
              +prf("prf-setsubsp-poset") todo
              +lem("lem-intersection-subsp") #[em Intersection is subspace]: if $S,T \le V$, then $$ S \cap T = \text{glb}\{S,T\}\le V.$$
              +prf("prf-intersection-subsp") todo
              +thm("thm-subsp-glb") For a collection of subspaces $\{S_i:i\in K\}$:
                | $$\bigcap_{i \in K}S_i=\text{glb}\{S_i:i\in K\} \le V.$$
                ul: li glb: #[span.kw greatest lower bound].
              +prf("prf-subsp-glb") todo
              +thm("thm-vs-not-union") A vector space is not the union of a finite number of proper subspaces.
              +prf("prf-vs-not-union") todo
              +def("def-sum") #[span.kw Sum] of $S,T \le V$: 
                | $$S+T=\{\cv{s}+\cv{t}: \cv{s}\in S, \cv{t}\in T\}.$$
              +def("def-sum-infty") #[span.kw Sum] of $\{S_i: i \in K, S_i \le V\}$:
                | $$\sum_{i \in K} S_i = \left\{s_1+\cdots+s_n:s_j \in \bigcup_{i \in K} S_i\right\}.$$
              +thm("thm-sum-lub") If $\forall i\in K, S_i \le V$, then: 
                | $$\sum_{i \in K} S_i = \text{lub}\{S_i:i\in K\} \le V.$$
                ul: li lub: #[span.kw lowest upper bound].
              +prf("prf-sum-lub") todo
              +thm("thm-set-subsp-complete-lattice") $(\mathcal{S}(V),\subseteq)$ is a complete lattice: minimum $\{0\}$, maximum $V$,
                | $$\text{glb}\{S_i: i \in K\}=\bigcap_{i \in K}S_i \quad \text{lub}\{S_i:i\in K\}=\sum_{i \in K}S_i.$$
              +prf("prf-set-subsp-complete-lattice") todo
            h2#sec2-direct-sums Direct Sums
            h3#sec3-external-direct-sum External Direct Sums
            .slide
              +def("def-ext-dir-sum") #[span.kw External direct sum] of $V_1,\dots,V_n$:
                | $$V=V_1 \boxplus\cdots\boxplus V_n = \{(\vv_1,\dots,\vv_n):\vv_i \in V, i=1,\dots,n\}$$
                |  is a vector space under operations ($\forall \alpha \in \FF$):
                | $$(\uu_1,\dots,\uu_n)+(\vv_1,\dots,\vv_n)=(\uu_1+\vv_1,\dots,\uu_n+\vv_n)$$
                | $$\alpha(\vv_1,\dots,\vv_n)=(\alpha\vv_1,\dots,\alpha\vv_n)$$
              +ex("ex-ext-dir-sum") $\FF^n=\FF \boxplus \cdots \boxplus \FF$
              +not("not-tuple-idx-func") $(\vv_1,\dots,\vv_n) \equiv f:\{1,\dots,n\}\rightarrow \bigcup V_i $ where $f(i) \in V_i$.
              +def("def-dir-prod") #[span.kw Direct product] of $\mathcal{F}=\{V_i:i\in K\}$:
                | $$\prod_{i \in K}=\left\{f:K\rightarrow\bigcup_{i\in K}V_i:f(i)\in V_i\right\}$$
              +def("def-support") #[span.kw Support] of $f:K\rightarrow\bigcup_i V_i: \text{supp}(f)=\{i\in K: f(i)\neq 0\}$
              +def("def-ext-dir-sum-inf") #[span.kw External direct sum] of $\mathcal{F}=\{V_i:i\in K\}$:
                | $$\bigoplus_{i\in K}^{\text{ext}}V_i=\left\{f:K \rightarrow \bigcup_{i \in K} V_i:f(i)\in V_i, f \text{has finite support}\right\}.$$
              +def("def-support") $V^K=\{f:K\rightarrow V\} \quad (V^K)_0=\{f\in V^k: |\text{supp}(f)| \lt \infty\}$
              +not("not-dir-prod-dir-sum") $$\prod_{i\in K}V=V^K\quad \bigoplus_{i\in K}^\text{ext}V = (V^K)_0$$
            h3#sec-int-dir-sum Internal direct sums
            .slide
              +def("def-int-dir-sum") #[span.kw (Internal) direct sum] of a family $\mathcal{F}=\{S_i:i\in I\}$ of #[span.kw direct summands] $S_i$ is a vector space
                | $$V=\bigoplus F=\bigoplus_{i \in I} S_i$$
                | which satisfies the following properties: 
                ol
                  li#def-int-dir-sum-join #[em Join of the family]: $V=\sum_{i\in I} S_i$
                  li#def-int-dir-sum-ind #[em Independence of the family]: $\forall i \in I: S_i \cap (\sum_{j \neq i}S_j) = \{0\}$
                | If $\mathcal{F} = \{S_1, \dots, S_n\}$ is a finite family, then $V=S_1 \oplus \cdots \oplus S_n$. If $V=S \oplus T$, then $T$ is a #[span.kw complement] of $S$ in $V$.
              +thm("thm-complem-exist") $S \le V \Rightarrow \exists T \lt V: V=S \oplus T$
              +prf("prf-complem-exist") todo
              +thm("thm-int-direct-equiv") The following are equivalent for $\mathcal{F}=\{S_i \lt V: i \in I, S_i \neq S_j \text{for} i \neq j\}$
                ol
                  li#thm-int-direct-equiv1 #[em Independence of the family]:$\forall i \in I: S_i \cap (\sum_{j \neq i}S_j)=\{0\}.$
                  li#thm-int-direct-equiv2 #[em Uniqueness of expression for 0]:$\forall \vv_i \neq 0 \in S_i: \sum_i \vv_i \neq 0.$
                  li#thm-int-direct-equiv3 #[em Uniqueness of expression]:$\forall \vv \in V, \exists!\{\cv{s}_i \in S_i\}:\vv = \cv{s}_1+\cdots+\cv{s}_n.$
                | Hence, $\sum_{i \in I} S_i$ is direct iff any of 1-3 works.
              +prf("prf-int-direct-equiv") todo
              +def("def-sym-matrix") $\text{Sym} \lt \mathcal{M}_{n}$: set of all symmetric $n \times n$ matrices.
              +def("def-skew-matrix") $\text{Skew} \lt \mathcal{M}_{n}$: set of all skew-symmetric $n \times n$ matrices.
              +ex("ex-sym-skew") $A = \frac{1}{2}(A+A^\top)+\frac{1}{2}(A - A^\top) = B + C, B \in \text{Sym}, C \in \text{Skew}$
                | $$\mathcal{M}_n = \text{Sym} + \text{Skew}$$
                | If $S,S' \in \text{Sym}, T,T'\in \text{Skew}$ and $S+T=S'+T'$, then
                | $$U=S-S'=T'-T\in \text{Sym}\cap \text{Skew} = U =0$$
                | which implies $S = S', T=T'$. Thus, $$\mathcal{M}_n=\text{Sym}\oplus\text{Skew}.$$
            h2#sec2-span-li Spanning Sets and Linear Independence
            .slide
              +def("def-span") #[span.kw Span]: $\span{S}=\{\alpha_1 \vv_1+\cdots+\alpha_n\vv_n:\alpha_i\in K, \vv_i \in S\}$.
            h3#sec3-li Linear Independence
            .slide
              +def("def-li") #[span.kw Linear independence] (LI): set ${vv_1,\dots,vv_n} \subset $ which satisfies:
                | $$\alpha_1 \vv_1 + \cdots + \alpha_n \vv_n = 0 \Leftrightarrow \alpha_1=\cdots=\alpha_n=0$$
                | #[span.kw Linearly dependent]: not LI.
              +not("not-li") $S$ is LI $\Rightarrow 0 \notin S$.
              +def("def-ess-uniq") $0 \neq v \in V$ is an #[span.kw essentially unique] linear combination in $S \subset V$ means
                | $$\exists!\{\ss_1,\dots,\ss_n\}\subset S, \ss_i \neq \ss_j, \alpha_i \in \FF: \vv=\alpha_1\ss_1+\cdots+\alpha_n\ss_n$$
                | i.e., $\vv \in \span{S}$ and if $\vv=\sum_{i = 1}^m \beta_i\tt_i$ where $\alpha_i, \beta_i \neq 0, \tt_i\neq \tt_j, \ss_i \neq \ss_j$, then $m=n$, and after reordering $\beta_i\tt_i$'s, we have $\alpha_i=\beta_i$ and $\ss_i=\tt_i, \forall i=1,\dots,n$ (stronger than $\alpha_i \ss_i=\beta_i \tt_i$).
              +thm("thm-li-equiv") The following are equivalent for ${0}\neq S \subset V$:
                ol
                  li#thm-li-equiv1 $S$ is LI.
                  li#thm-li-equiv2 Every $\vv\neq 0 \in \span{S}$ is an essentially unique linear combination of vectors in S.
                  li#thm-li-equiv3 No vector in S is a linear combination of other vectors in $S$.
              +prf("prf-li-equiv") todo
              +def("def-min-span") #[minimal spanning set] $S=\span{V}$: any proper subset of $S$ does not span $V$.
              +def("def-max-li") #[maximal LI set]: any proper superset $T \supset S$ is not LI.
              +thm("thm-li-equivalent-conds") The following statements are equivalent for $S \subset V$
                ol
                  li#thm-li-equivalent-conds1 $S$ is LI and spans $V$
                  li#thm-li-equivalent-conds2 Every $vv \neq 0 \in V$ is an essentially unique linear combination of vectors in $S$
                  li#thm-li-equivalent-conds3 $S$ is a minimal spanning set
                  li#thm-li-equivalent-conds4 $S$ is a maximal linearly independent set
              +prf("prf-li-equivalent-conds") todo
            h3#sec3-basis Basis
            .slide
              +def("def-basis") S is a #[span.kw basis] for $V$ ($S \basis V$) if it satisfies one (and hence all) conditions on #[+ref("#thm-li-equivalent-conds")]
              +thm("thm-basis-direct-sum") $S=\{\vv_1,\dots,\vv_n\} \basis V \Leftrightarrow V=\span{\vv_1}\oplus\cdots\oplus\span{\vv_n}$.
              +prf("prf-basis-direct-sum") todo
              +thm("thm-basis-existence") Let $I \subset V$ be LI in $V$ and $I \subseteq S \subset V$ s.t. $\span{S}=V$. Then $\exists B \basis V$ s.t. $I \subseteq B \subseteq S$. In particular,
                ol
                  li#thm-basis-existence1 Any vector space, except $\{0\}$, has a basis.
                  li#thm-basis-existence2 Any LI set in $V$ is contained in a basis.
                  li#thm-basis-existence3 Any spanning set in $V$ contains a basis.
              +prf("prf-basis-existence") todo
            h2#sec2-dimension The Dimension of a Vector Space
            .slide
              +thm("thm-li-largest") $\{\vv_1,\dots,\vv_n\}\subset V$ are LI and $\span{\{\ss_1,\dots,\ss_m\}}= V \Rightarrow n \le m$.
              +prf("prf-li-largest") todo
              +cor("thm-basis-same-order") If $V$ has a finite spanning set, then $B_1,B_2 \basis V \Rightarrow |B_1|=|B_2|$.
              +prf("prf-basis-same-order") todo
              +thm("thm-basis-same-cardinality") If $V$ is a vector space, then $B_1,B_2 \basis V \Rightarrow |B_1|=|B_2|$.
              +prf("prf-basis-same-cardinality") todo
              +def("def-dimension") #[span.kw Dimension of a vector space]
                ul
                  li#def-dimension1 #[span.kw Dimension]: cardinality $\kappa$ of any basis for $V$. If $\dim V = \kappa$, then $V$ is $\kappa$-dimensional.
                  li#def-dimension2 $\dim\{0\}=0$.
                  li#def-dimension3 #[span.kw Finite dimensional]: $\{0\}$ or has a finite basis.
                  li#def-dimension4 #[span.kw Infinite dimensional]: not finite.
              +thm("thm-basis-direct-sum-span") Let $V$ be a vector space
                ol
                  li#thm-basis-direct-sum-span1 If $B \basis V$, $B=B_1 \cup B_2$, and $B_1 \cap B_2 = \emptyset$, then
                    | $$V=\span{B_1}\oplus\span{B_2}$$
                  li#thm-basis-direct-sum-span2 Let $V=S \oplus T$. If $B_1 \basis S$ and $B_2 \basis T$, then $B_1 \cap B_2=\emptyset$ and $B=B_1 \cup B_2 \basis V$.
              +prf("prf-basis-direct-sum-span") todo
              +thm("thm-direct-sum-dim") Let $S,T \le V$. Then $$\dim S + \dim T = \dim(S+T) + \dim(S \cap T).$$ In particular, $\dim(S\oplus T)=\dim S + \dim T$
              +prf("prf-direct-sum-dim") todo
              +def("")

            h2#sec2-ordered-basis-coord-mtx Ordered Bases and Coordinate Matrices
            .slide
              +def("def-ordered-basis") #[span.kw Ordered basis] for $V$ ($\dim V =n$): ordered $n$-tuple $(\vv_1,\dots,\vv_n), \vv_i \in V$, for which $\{\vv_1,\dots,\vv_n\} \basis V$.
              +def("def-coord-mtx") #[span.kw Coordinate map] $\phi_B: V \rightarrow \FF^n$ for $(\vv_1,\dots,\vv_n) \basis V$:
                | $$\vv = \alpha_1 \vv_1 + \cdots+\alpha_n\vv_n \Rightarrow \phi_B(\vv)=[\vv]_B=[\alpha_1 \cdots \alpha_n]^\top$$
                | where $[\vv]_B$ is the #[span.kw coordinate matrix] of $\vv$ w.r.t. $B$.
              +not("not-coord-map-linear") $\phi_B(\alpha_1 \vv_1 + \cdots + \alpha_n\vv_n) = \alpha_1\phi_B(\vv_1)+\cdots+\alpha_n\phi_B(\vv_n)$.

            h2#sec2-col-row-rank The Row and Column Spaces of a Matrix
            .slide
              +def("def-col-row-rank") Let $A$ be a $m \times n$ matrix over $\FF$
                ol
                  li#def-col-row-rank1 #[span.kw Row space] of $A$ ($\mathrm{rs}(A)\in \FF^n$): span of rows of $A$.
                  li#def-col-row-rank2 #[span.kw Column space] of $A$ ($\mathrm{cs}(A)\in \FF^m$): span of columns of $A$.
                  li#def-col-row-rank3 #[span.kw Row rank] of $A$: $\mathrm{rrk}(A)=\dim \mathrm{rs}(A)$
                  li#def-col-row-rank4 #[span.kw Column rank] of $A$: $\mathrm{crk}(A)=\dim \mathrm{cs}(A)$
              +lem("lem-elem-colrow-op-rank") Let $A\in\mathcal{M}_{m,n}$. Then elementary column (resp., row) operations do not affect $\mathrm{rrk}(A)$ (resp., $\mathrm{crk}(A)$).
              +prf("prf-elem-colrow-op-rank") todo
              +thm("thm-col-row-rank") If $A\in \mathcal{M}_{m,n}$, then $\mathrm{rrk}(A)=\mathrm{crk}(A)$
              +prf("prf-col-row-rank") todo
              +def("def-rank") #[span.kw Rank] of $A$: $\mathrm{rk}(A)=\mathrm{rrk}(A)=\mathrm{crk}(A)$
            h2#sec2-complexification The complexification of a real vector space
            .slide
              +def("def-real-version") #[span.kw Real version] of $V_\CC$: $V_\RR$
              +def("def-complexification") The set $V^\CC=V\times V$, with addition 
                | $$(\uu,\vv)+(\xx,\yy)=(\uu+\xx,\vv+\yy)$$
                | and scalar multiplication over $\CC$ (for $\alpha,\beta \in \mathbb{R}$)
                | $$(\alpha+\beta i)(\uu,\vv)=(\alpha\uu-\beta\vv, \alpha \vv + \beta \uu)$$
                | is a complex vector space called the #[span.kw complexification] of $V$.
              +not("not-complexif-notation") #[em Notation] for $V^\CC: V^\CC=\{\uu+\vv i: \uu,\vv\in V\}$ with
                ol
                  li#not-complexif-notation1 Addition: $(\uu+\vv i)+(\xx + \yy i)=(\uu + \xx)+(\vv + \yy)i$
                  li#not-complexif-notation2 Scalar mult.: $(\alpha+ \beta i)(\uu + \vv i)=(\alpha \uu-\beta \vv)+(\alpha \vv + \beta \uu)i$
                  li#not-complexif-notation3 $\cv{z} = \uu + \vv i \Rightarrow$ #[span.kw real part]: $\uu$, #[span.kw imaginary part]: $\vv$.
                  li#not-complexif-notation4 $\cv{z} = 0 \Leftrightarrow \uu=\vv=0$
              +def("def-complex-map") #[span.kw Complexification map] $\mathrm{cpx:V\rightarrow V^\CC}$: $\mathrm{cpx}(\vv)=\vv + 0 i$.
              +not("not-complex-map-homomorp")
                ol
                  li#not-complex-map-homomorp1 It's a group homomorphism under $+$:
                    | $$\mathrm{cpx}(\uu \pm \vv)=\mathrm{cpx}(\uu) \pm \mathrm{cpx}(\vv) \quad \mathrm{cpx}(0) = 0 + 0 i $$
                  li#not-complex-map-homomorp2 It is injective: $\mathrm{cpx}(\uu) = \mathrm{cpx}(\vv)\Leftrightarrow \uu=\vv.$
                  li#not-complex-map-homomorp3 It also preserves multiplication by real scalars (for $\alpha \in \RR$)
                    | $$\mathrm{cpx}(\alpha\uu)=\alpha\uu + 0 i = \alpha(\uu + 0 i)=\alpha \mathrm{cpx}(\uu).$$
            h3#sec3-complexific-dim The dimension of $V^\CC$
            .slide
              +thm("thm-complexific-dim") If $B=\{\vv_j:j \in I\}$ is a basis for $V$ over $\RR$, then the #[span.kw complexification] of $B$, $\mathrm{cpx}(B)=\{\vv_j+0 i: \vv_j\in B\}$ is a basis for $V^\CC$ over $\CC$. Hence, $\dim(V^\CC)=\dim V$.
              +prf("prf-complexific-dim") todo

            h2#sec2-exercises Exercises
            .slide.part#sld-exercises
              ol
                li Let $V$ be a vector space over $\FF$. Prove that $0\vv = 0$ and $\alpha 0 = 0$ for all $\vv \in V$ and $\alpha \in \FF$. Describe the different 0's in these equations. Prove that if $\alpha \vv = 0$, then $\alpha = 0$ or $\vv = 0$. Prove that $\alpha \vv = \vv$ implies that $\vv = 0$ or $\alpha = 1$.
                li Prove #[+ref("#thm-set-subsp-complete-lattice")]
                li
                  ol(type="a") 
                    li Find an abelian group $V$ and a field $\FF$ for which $V$ is a vector space over $\FF$ in at least two different ways, that is, there are two different definitions of scalar multiplication making $V$ a vector space over $\FF$.
                    li Find a vector space $V$ over $\FF$ and a subset $S$ of $V$ that is (1) a subspace of $V$ and (2) a vector space using operations that differ from those of $V$.
                li Suppose that $V$ is a vector space with basis $B=\{\cv{b}_i:i\in I\}$ and $S \le V$. Let $\{B_1,\dots,B_k\}$ be a partition of $B$. Then is it true that 
                  | $$S=\bigoplus_{i=1}^k (S\cap\span{B_i})$$
                  | What is $S\cap\span{B_i}\neq \{0\}$ for all $i$?
                li Prove #[+ref("#thm-direct-sum-spans")]
                li Let $S,T,U \in \mathcal{S}(V)$. Show that if $U\subseteq S$, then
                  | $$S \cap (T + U)=(S \cap T)+U$$
                  | This is called the #[span.kw modular law] for the lattice $\mathcal{S}(V)$.
                li For what vector spaces does the distributive law of subspaces $$S \cap (T+U)=(S\cap T)+(S\cap U)$$
                  | hold?
                li A vector $\vv=(a_1,\dots,a_n)\in \RR^n$ is called #[span.kw strongly positivie] if $a_i > 0$ for all $i = 1,\dots,n$.
                  ol(type="a")
                    li Suppose that $\vv$ is strongly positive. Show that any vector that is "close enough" to $\vv$ is also strongly postiive. (Formulate carefully what "close enough" should mean.)
                    li Prove that if a subspace $S$ of $\RR^n$ contains a strongly positive vector, then $S$ has a basis of strongly positive vectors.
                li Let $M$ be a $m \times n$ matrix whose rows are LI. Suppose that the $k$ columns $c_{i_1}, \dots, c_{i_k}$ of $M$ span the column space of $M$. Let $C$ be the matrix obtained from $M$ by deleting all columns space of $M$. Let $C$ be the matrix obtained from $M$ by deleting all columns except $c_{i_1}, \dots, c_{i_k}$. Show that the rows of $C$ are also LI.
                li Prove that the first two statements in #[+ref("#thm-li-equivalent-conds")] are equivalent.
                li Show that if $S$ is a subspace of a vector space $V$, then $\dim S \le \dim V$. Furthermore, if $dim S = dim V \lt \infty$ then $S=V$. Give an example to show that the finiteness is required in the second statement.
                li Let $\dim V \lt \infty$ and suppose that $V=U\oplus S_1=U\oplus S_2$. What can you say about the relationship between $S_1$ and $S_2$? What can you say if $S_1 \subseteq S_2$?
                li What is the relationship between $S \oplus T$ and $T \oplus S$? Is the direct sum operation commutative? Formulate and prove a similar statement concerning associativity. Is there an "identity" for direct sum? What about "negatives"?
                li Let $V$ be a finite-dimensional vector space over an infinite field $\FF$. Prove that if $S_1,\dots,S_k$ are subspaces of $V$ of equal dimension, then there is a subspace $T$ of $V$ for which $V=S_i \oplus T$ for all $i=1,\dots,k$. In other words, $T$ iis a common complement of the subspaces $S$.
                li Prove that the vector space $\mathcal{C}$ of all continuous functions from $\RR$ to $\RR$ is infinite-dimensional.
                li Show that #[+ref("thm-")] need not hold if the base field $\FF$ is finite.
                li Let $S$ be a subspace of $V$. The set $\vv + S = \{\vv + \ss: \ss in S\}$ is called an #[span.kw affine subspace] of $V$.
                  ol(type="a")
                    li Under what conditions is an affine subspace of $V$ a subspace of $V$?
                    li Show that any two affine subspaces of the form $\vv + S$ and $\ww + S$ are either equal or disjoint.
                li If $V$ and $W$ are vector spaces over $\FF$ for which $|V|=|W|$, then does it follow that $\dim V=\dim W$?
                li Let $V$ be an $n$-dimensional real vector space and suppose that $S$ is a subspace of $V$ with $\dim S = n-1$. Define an equivalence relation $\equiv$ on the set $V\setminus S$ by $\vv \equiv \ww$ if the "line segment" 
                  | $$L(\vv,\ww)=\{\alpha \vv + (1-\alpha)\ww: 0\lt \alpha\lt 1\}$$
                  | has the property that $L(\vv,\ww)\cap S=\emptyset$. Prove that $\equiv$ is an equivalence relation and that it has exactly two equivalence classes.
                li Let $\FF$ be a field. A #[span.kw subfield] of $\FF$ is a subset $\mathbb{K} of \FF$ that is a field in its own right using the same operations as defined on $\FF$.
                  ol(type="a")
                    li Show that $\FF$ is a vector space over any subfield $\mathbb{K}$ of $\FF$.
                    li Suppose that $\FF$ is an $m$-dimensional vector space over a subfield $\mathbb{K}$ of $\FF$. IF $V$ is an $n$-dimensional vector space over $\FF$, show that $V$ is also a vector space over $\mathbb{K}$. What is the dimension of $V$ as a vector space over $\mathbb{K}$?
                li Let $\FF$ be a finite field of size $q$ and let $V$ be an $n$-dimensional vector space over $\FF$. The purpose of this exercise is to show that the number of subspaces of $V$ of dimension $k$ is
                  | $$$$

          

    footer
      div Anderson Tavares